__pycache__
.*.swp
gateware/*.asc
gateware/*.bin
gateware/*.blif
gateware/*.dot
gateware/*.json
gateware/*.png
gateware/*.rpt
gateware/*.svf
gateware/*.swp
gateware/*.txtcfg
gateware/*_tb.fst
gateware/*_tb.test
gateware/*_tb.vcd
gateware/random.raw
pcb/*.bak
pcb/*.sch-bak
pcb/*.kicad_pcb-bak
pcb/*-backups
pcb/#auto_saved_files#
pcb/~*.lck
pcb/*.glb
pcb/*.stl
pcb/fp-info-cache
3d/*.FCBak
3d/*.blend1
