set_io --warn-no-port uart_dtr 1
set_io --warn-no-port uart_dsr 2
set_io --warn-no-port uart_txd 5
set_io --warn-no-port uart_rxd 6
set_io --warn-no-port uart_rts 7
set_io --warn-no-port uart_cts 8
set_io --warn-no-port uart_ri  31
set_io --warn-no-port uart_dcd 32

set_io --warn-no-port clk32m   19

set_io --warn-no-port gpio1    23
set_io --warn-no-port gpio2    30
set_io --warn-no-port gpio3    22
set_io --warn-no-port gpio4    29
set_io --warn-no-port gpio5    20
set_io --warn-no-port gpio6    27
set_io --warn-no-port gpio7    18
set_io --warn-no-port gpio8    26
