# uart384 hardware v1.0

# UART port
set_io --warn-no-port uart_dtr 1		# change on PC-side not seen on FPGA-side?
set_io --warn-no-port uart_dsr 2		# change on FPGA-side not seen on PC-side?
set_io --warn-no-port uart_txd 5		# works
set_io --warn-no-port uart_rxd 6		# works
set_io --warn-no-port uart_rts 7		# works
set_io --warn-no-port uart_cts 8		# works
set_io --warn-no-port uart_ri  31		# works
set_io --warn-no-port uart_dcd 32		# works

# clock
set_io --warn-no-port clk      19

# GPIO port
set_io --warn-no-port gpio1    23
set_io --warn-no-port gpio2    30
set_io --warn-no-port gpio3    22
set_io --warn-no-port gpio4    29
set_io --warn-no-port gpio5    20
set_io --warn-no-port gpio6    27
set_io --warn-no-port gpio7    18
set_io --warn-no-port gpio8    26

# program-flash SPI with multiplexed functions.
# use additional functions only when SPI_SS is HIGH.
set_io --warn-no-port SPI_SDO_led1_red   12
set_io --warn-no-port SPI_SDI_button     13
set_io --warn-no-port SPI_SS             14
set_io --warn-no-port SPI_SCK_led2_green 15
