# This file is part of the UART384 software & gateware
# (c) 2025 by David R. Piegdon <dgit@piegdon.de>
#
# The UART384 software & gateware is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# The UART384 software & gateware is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public License
# along with the UART384 software & gateware. If not, see <https://www.gnu.org/licenses/>.

# uart384 hardware v2.0

# UART port
set_io --warn-no-port uart_dtr 20
set_io --warn-no-port uart_dsr 22
set_io --warn-no-port uart_txd 23
set_io --warn-no-port uart_rxd 26
set_io --warn-no-port uart_rts 27
set_io --warn-no-port uart_cts 29
set_io --warn-no-port uart_ri  18
set_io --warn-no-port uart_dcd 19

# clock
set_io --warn-no-port clk      30

# GPIO port
set_io --warn-no-port gpio1    8
set_io --warn-no-port gpio2    7
set_io --warn-no-port gpio3    6
set_io --warn-no-port gpio4    5
set_io --warn-no-port gpio5    2
set_io --warn-no-port gpio6    1
set_io --warn-no-port gpio7    31
set_io --warn-no-port gpio8    32

# program-flash SPI with multiplexed functions.
# use additional functions only when SPI_SS is HIGH.
set_io --warn-no-port SPI_SDO_led1_red   12
set_io --warn-no-port SPI_SDI_button     13
set_io --warn-no-port SPI_SS             14
set_io --warn-no-port SPI_SCK_led2_green 15
